$color-bg =           #222
$color-bg-d =         rgba(0, 0, 0, .3)
$color-light-bg =     #333
$color-dialog-bg =    #666
$color-theme =        #ffcd32
$color-theme-d =      rgba(255, 205, 49, .5)
$color-sub-theme =    #d93f30
$color-text =         #fff
$color-text-d =       rgba(255, 255, 255, .3)
$color-text-l =       rgba(255, 255, 255, .5)
$color-text-ll =      rgba(255, 255, 255, .8)

// 字体大小规划
$font-size-small-s =  10px
$font-size-small =    $font-size-small-s * 1.2 !default
$font-size-medium =   $font-size-small-s * 1.4 !default
$font-size-medium-x = $font-size-small-s * 1.6 !default
$font-size-large =    $font-size-small-s * 1.8 !default
$font-size-large =    $font-size-small-s * 2.2 !default